@model List<Student>;

<p>Controller Student</p>

@foreach(var data in Model)
{
    <p>ID : @data.Id</p>
    <p>Name : @data.Name</p>
    <p>Address : @data.Address</p>
    <p>Phone : @data.Phone</p>
    <hr/>
}